* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

.scene {
  width: 800px;
  height: 500px;
  border-radius: 15px;
  background: linear-gradient(210deg, #1A449D, #1D2C4C);
  box-shadow: 0 5px 5px black;
  position: relative;
  overflow: hidden;
}

.moon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0px 16px #ffcc33, inset 0px 16px 1px #ffcc33;
  position: absolute;
  top: 20;
  left: 10%;
  transform: translate(0, 0);
  transform: rotate(135deg);
}

.name {
  font-size: 50px;
  color: white;
  font-weight: 4rem;
  line-height: 400;
  letter-spacing: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.allstar {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    transform: translate(100px, 0);
  }
  100% {
    transform: translate(0, 350px);
  }
}
.star1 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(240, 152, 214);
  position: absolute;
  top: 27.8156901079%;
  left: 436.1954402641px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 4.8576310571s;
  animation-iteration-count: infinite;
  animation-delay: -0.2835873593s;
}

.star2 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(75, 42, 48);
  position: absolute;
  top: 8.892815006%;
  left: 124.4981064616px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 3.6288268214s;
  animation-iteration-count: infinite;
  animation-delay: -0.3544758519s;
}

.star3 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(105, 189, 71);
  position: absolute;
  top: 18.6512532041%;
  left: 375.3724701307px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 2.6773907677s;
  animation-iteration-count: infinite;
  animation-delay: -0.6659308577s;
}

.star4 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(187, 244, 173);
  position: absolute;
  top: 16.1786693041%;
  left: 263.0573702829px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 4.3857026404s;
  animation-iteration-count: infinite;
  animation-delay: -0.2909840149s;
}

.star5 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(243, 255, 240);
  position: absolute;
  top: 8.7645087414%;
  left: 596.602155503px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 2.8576416034s;
  animation-iteration-count: infinite;
  animation-delay: -0.2972801606s;
}

.star6 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(128, 37, 194);
  position: absolute;
  top: 0.4851733739%;
  left: 553.7461703523px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 4.4946090157s;
  animation-iteration-count: infinite;
  animation-delay: -0.3526075183s;
}

.star7 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(45, 199, 128);
  position: absolute;
  top: 1.2285314785%;
  left: 49.7636339245px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 4.316028029s;
  animation-iteration-count: infinite;
  animation-delay: -0.5115515332s;
}

.star8 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(144, 214, 122);
  position: absolute;
  top: 1.8760433786%;
  left: 201.4883196063px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 3.1812402746s;
  animation-iteration-count: infinite;
  animation-delay: -0.2419493316s;
}

.star9 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(82, 141, 245);
  position: absolute;
  top: 21.0867218582%;
  left: 466.9107267223px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 2.8763929927s;
  animation-iteration-count: infinite;
  animation-delay: -0.9455452178s;
}

.star10 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(100, 137, 31);
  position: absolute;
  top: 5.8918999757%;
  left: 388.5147396095px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 4.1260375914s;
  animation-iteration-count: infinite;
  animation-delay: -0.6755664823s;
}

.star11 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(34, 239, 215);
  position: absolute;
  top: 21.4276762836%;
  left: 76.0191414695px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 3.8044193565s;
  animation-iteration-count: infinite;
  animation-delay: -0.9965587252s;
}

.star12 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(137, 103, 36);
  position: absolute;
  top: 27.6202679148%;
  left: 598.0679003766px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 4.1748970485s;
  animation-iteration-count: infinite;
  animation-delay: -0.6200667137s;
}

.star13 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(64, 50, 15);
  position: absolute;
  top: 20.0239655357%;
  left: 739.5229736053px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 2.4721505102s;
  animation-iteration-count: infinite;
  animation-delay: -0.0201285788s;
}

.star14 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(19, 28, 122);
  position: absolute;
  top: 19.5491866292%;
  left: 186.0117820254px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 3.7743860626s;
  animation-iteration-count: infinite;
  animation-delay: -0.6530995424s;
}

.star15 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(227, 159, 190);
  position: absolute;
  top: 22.6060863201%;
  left: 64.7172367821px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 2.8445842065s;
  animation-iteration-count: infinite;
  animation-delay: -0.3111823886s;
}

.star16 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(121, 62, 246);
  position: absolute;
  top: 23.6303079306%;
  left: 667.5273816908px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 2.3884611983s;
  animation-iteration-count: infinite;
  animation-delay: -0.4891142294s;
}

.star17 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(100, 28, 6);
  position: absolute;
  top: 19.5952560527%;
  left: 126.2457408825px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 3.0491438529s;
  animation-iteration-count: infinite;
  animation-delay: -0.0031226208s;
}

.star18 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(42, 208, 36);
  position: absolute;
  top: 25.0921481183%;
  left: 292.9201753544px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 4.4580630135s;
  animation-iteration-count: infinite;
  animation-delay: -0.8932729255s;
}

.star19 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(160, 231, 169);
  position: absolute;
  top: 14.5554084638%;
  left: 591.0034568062px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 3.8130221455s;
  animation-iteration-count: infinite;
  animation-delay: -0.7667002547s;
}

.star20 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(36, 107, 119);
  position: absolute;
  top: 16.7146774821%;
  left: 613.7556300043px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 4.8616290349s;
  animation-iteration-count: infinite;
  animation-delay: -0.412046055s;
}

.star21 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(45, 3, 83);
  position: absolute;
  top: 0.91421249%;
  left: 709.8560058752px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 3.7482228676s;
  animation-iteration-count: infinite;
  animation-delay: -0.6596579397s;
}

.star22 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(17, 127, 226);
  position: absolute;
  top: 24.475387219%;
  left: 509.7570006022px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 4.5617887956s;
  animation-iteration-count: infinite;
  animation-delay: -0.954021043s;
}

.star23 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(182, 101, 199);
  position: absolute;
  top: 23.3036448781%;
  left: 635.8040610522px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 2.7711770409s;
  animation-iteration-count: infinite;
  animation-delay: -0.0291865532s;
}

.star24 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(80, 14, 44);
  position: absolute;
  top: 19.7747167035%;
  left: 199.5775926737px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 4.2379730329s;
  animation-iteration-count: infinite;
  animation-delay: -0.6450567413s;
}

.star25 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(163, 125, 205);
  position: absolute;
  top: 10.92720839%;
  left: 696.7155750539px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 4.015144762s;
  animation-iteration-count: infinite;
  animation-delay: -0.1393059896s;
}

.star26 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(191, 104, 150);
  position: absolute;
  top: 29.9901688364%;
  left: 741.5526884215px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 2.4668406995s;
  animation-iteration-count: infinite;
  animation-delay: -0.3026339448s;
}

.star27 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(108, 143, 5);
  position: absolute;
  top: 9.7179824542%;
  left: 619.2723813764px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 2.7604015453s;
  animation-iteration-count: infinite;
  animation-delay: -0.0640988219s;
}

.star28 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(145, 177, 160);
  position: absolute;
  top: 9.1288246607%;
  left: 110.9765953259px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 4.2087897613s;
  animation-iteration-count: infinite;
  animation-delay: -0.3749345243s;
}

.star29 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(218, 140, 146);
  position: absolute;
  top: 18.2980710606%;
  left: 358.9710699685px;
  transform: translate(0, 0);
  animation-name: flying;
  animation-duration: 3.9784014013s;
  animation-iteration-count: infinite;
  animation-delay: -0.506742997s;
}/*# sourceMappingURL=class2-mooncard-import.css.map */