* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  flex-direction: column;
}

.scene {
  width: 800px;
  height: 500px;
  border-radius: 15px;
  background: linear-gradient(550deg, #00f0f0, #1A449D);
  box-shadow: 0 5px 5px black;
  position: relative;
  overflow: hidden;
}
.scene .moon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate(0, 0);
  transform: rotate(140deg);
  box-shadow: 10PX 10PX 11PX lightyellow inset, 20px 20px 20px #ffcc33 inset, -5px -10px 50px white;
}
.scene .name {
  font-size: 50px;
  color: lightyellow;
  font-weight: 4rem;
  line-height: bold;
  letter-spacing: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scene .allleavese {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scene .allstar {
  width: 100%;
  height: 50%;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  font-size: 12px;
  color: lightyellow;
  font-weight: 4rem;
  line-height: bold;
  letter-spacing: 5px;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    transform: translate(150px, 0);
  }
  100% {
    transform: translate(0, 400px);
  }
}
@keyframes flash {
  0%, 40% {
    opacity: 97;
  }
}
.leaves1 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(19);
  position: absolute;
  top: 16.9847579219%;
  left: 410.3148474032px;
  transform: translate(0, 0);
  animation: flying 5.8522815299s ease-in-out -0.0489964568S infinite;
}

.leaves2 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(68);
  position: absolute;
  top: 4.9729781192%;
  left: 244.808518061px;
  transform: translate(0, 0);
  animation: flying 6.3174223778s ease-in-out -0.223459327S infinite;
}

.leaves3 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(127);
  position: absolute;
  top: 19.0435285919%;
  left: 105.0627621417px;
  transform: translate(0, 0);
  animation: flying 6.6360022034s ease-in-out -0.8000843589S infinite;
}

.leaves4 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(95);
  position: absolute;
  top: 1.3985728674%;
  left: 116.2697309798px;
  transform: translate(0, 0);
  animation: flying 6.7682595591s ease-in-out -0.3620594245S infinite;
}

.leaves5 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(199);
  position: absolute;
  top: 8.4855259878%;
  left: 378.0321692363px;
  transform: translate(0, 0);
  animation: flying 5.2044310584s ease-in-out -0.2628568846S infinite;
}

.leaves6 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(196);
  position: absolute;
  top: 16.4993130456%;
  left: 335.4603055996px;
  transform: translate(0, 0);
  animation: flying 6.0840582861s ease-in-out -0.8364954054S infinite;
}

.leaves7 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(293);
  position: absolute;
  top: 27.4756313588%;
  left: 382.9985056999px;
  transform: translate(0, 0);
  animation: flying 4.2508117635s ease-in-out -0.4296123991S infinite;
}

.leaves8 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(57);
  position: absolute;
  top: 18.666151569%;
  left: 519.6936693006px;
  transform: translate(0, 0);
  animation: flying 4.3873031475s ease-in-out -0.3235244553S infinite;
}

.leaves9 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(228);
  position: absolute;
  top: 11.5104950592%;
  left: 726.6687664335px;
  transform: translate(0, 0);
  animation: flying 6.4546977372s ease-in-out -0.4119917529S infinite;
}

.leaves10 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(22);
  position: absolute;
  top: 5.7144889992%;
  left: 660.5973786356px;
  transform: translate(0, 0);
  animation: flying 6.9462117303s ease-in-out -0.5057996108S infinite;
}

.leaves11 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(42);
  position: absolute;
  top: 4.19292547%;
  left: 118.1924959637px;
  transform: translate(0, 0);
  animation: flying 4.3922902896s ease-in-out -0.7030913491S infinite;
}

.leaves12 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(224);
  position: absolute;
  top: 20.1613110671%;
  left: 452.0800121994px;
  transform: translate(0, 0);
  animation: flying 5.3912801586s ease-in-out -0.9024716621S infinite;
}

.leaves13 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(162);
  position: absolute;
  top: 11.0007818856%;
  left: 26.6283857658px;
  transform: translate(0, 0);
  animation: flying 4.5186110043s ease-in-out -0.3156244103S infinite;
}

.leaves14 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(262);
  position: absolute;
  top: 0.9489128038%;
  left: 647.3249525707px;
  transform: translate(0, 0);
  animation: flying 6.4741665406s ease-in-out -0.5949941298S infinite;
}

.leaves15 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(141);
  position: absolute;
  top: 9.1022818698%;
  left: 17.747038655px;
  transform: translate(0, 0);
  animation: flying 6.9620741747s ease-in-out -0.3631969269S infinite;
}

.leaves16 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(284);
  position: absolute;
  top: 26.3232180599%;
  left: 109.5525928306px;
  transform: translate(0, 0);
  animation: flying 6.5597590571s ease-in-out -0.5246375199S infinite;
}

.leaves17 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(170);
  position: absolute;
  top: 5.4120669592%;
  left: 248.559087901px;
  transform: translate(0, 0);
  animation: flying 5.2101901866s ease-in-out -0.7950491771S infinite;
}

.leaves18 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(207);
  position: absolute;
  top: 21.6429854545%;
  left: 124.8507680983px;
  transform: translate(0, 0);
  animation: flying 4.0563827542s ease-in-out -0.9187737443S infinite;
}

.leaves19 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(165);
  position: absolute;
  top: 1.2820022406%;
  left: 788.1447462855px;
  transform: translate(0, 0);
  animation: flying 5.6739483282s ease-in-out -0.6333296079S infinite;
}

.leaves20 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(89);
  position: absolute;
  top: 6.6760708671%;
  left: 448.3654010045px;
  transform: translate(0, 0);
  animation: flying 6.7383474235s ease-in-out -0.2908231228S infinite;
}

.leaves21 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(201);
  position: absolute;
  top: 10.792397632%;
  left: 474.6750240348px;
  transform: translate(0, 0);
  animation: flying 6.5104643522s ease-in-out -0.2144626934S infinite;
}

.leaves22 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(59);
  position: absolute;
  top: 8.3005604355%;
  left: 655.3862239883px;
  transform: translate(0, 0);
  animation: flying 5.7909867983s ease-in-out -0.7505194588S infinite;
}

.leaves23 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(97);
  position: absolute;
  top: 19.1074717037%;
  left: 351.1342530016px;
  transform: translate(0, 0);
  animation: flying 6.1212673425s ease-in-out -0.2396105491S infinite;
}

.leaves24 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(264);
  position: absolute;
  top: 2.5963170142%;
  left: 194.2329202434px;
  transform: translate(0, 0);
  animation: flying 4.4905059364s ease-in-out -0.0387579343S infinite;
}

.leaves25 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(269);
  position: absolute;
  top: 23.6372799862%;
  left: 742.686820371px;
  transform: translate(0, 0);
  animation: flying 5.9222517611s ease-in-out -0.1531018534S infinite;
}

.leaves26 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(293);
  position: absolute;
  top: 5.9882782963%;
  left: 119.35223798px;
  transform: translate(0, 0);
  animation: flying 6.3778479841s ease-in-out -0.805289404S infinite;
}

.leaves27 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(195);
  position: absolute;
  top: 11.9434961614%;
  left: 546.0424836587px;
  transform: translate(0, 0);
  animation: flying 6.8055753022s ease-in-out -0.7283859233S infinite;
}

.leaves28 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(94);
  position: absolute;
  top: 20.9600727412%;
  left: 356.4136085254px;
  transform: translate(0, 0);
  animation: flying 6.7656033408s ease-in-out -0.0733205876S infinite;
}

.leaves29 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(165);
  position: absolute;
  top: 15.687713848%;
  left: 200.1962936222px;
  transform: translate(0, 0);
  animation: flying 5.292781712s ease-in-out -0.7968098995S infinite;
}

.star1 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 21.9445893964%;
  left: 512.6901073388px;
  transform: translate(0, 0);
  animation: flash 4.847650582s ease -0.1199361932s infinite;
}

.star2 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 23.5124990059%;
  left: 268.9628479852px;
  transform: translate(0, 0);
  animation: flash 2.1325805706s ease -0.2248898853s infinite;
}

.star3 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 27.4410365212%;
  left: 61.2899402678px;
  transform: translate(0, 0);
  animation: flash 2.4152369749s ease -0.1672122715s infinite;
}

.star4 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 16.4077330059%;
  left: 770.898821602px;
  transform: translate(0, 0);
  animation: flash 2.1285442081s ease -0.2608937309s infinite;
}

.star5 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 6.8222196248%;
  left: 667.0850683841px;
  transform: translate(0, 0);
  animation: flash 4.4996042738s ease -0.4201606417s infinite;
}

.star6 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 48.7880916344%;
  left: 501.0271691535px;
  transform: translate(0, 0);
  animation: flash 4.7177946844s ease -0.2626811717s infinite;
}

.star7 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 8.7709072969%;
  left: 107.0242250778px;
  transform: translate(0, 0);
  animation: flash 4.248745689s ease -0.3332736025s infinite;
}

.star8 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 49.8897580635%;
  left: 406.829738619px;
  transform: translate(0, 0);
  animation: flash 2.2737360291s ease -0.4618165775s infinite;
}

.star9 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 22.9178689614%;
  left: 644.6854759776px;
  transform: translate(0, 0);
  animation: flash 2.9409113833s ease -0.4649493955s infinite;
}

.star10 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 6.0467762027%;
  left: 392.985308333px;
  transform: translate(0, 0);
  animation: flash 2.7383507586s ease -0.3568109247s infinite;
}

.star11 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 47.3567554156%;
  left: 156.593466373px;
  transform: translate(0, 0);
  animation: flash 4.9260880563s ease -0.4206726618s infinite;
}

.star12 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 21.1396451261%;
  left: 557.8180691729px;
  transform: translate(0, 0);
  animation: flash 2.5692527045s ease -0.093061428s infinite;
}

.star13 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 16.985926189%;
  left: 718.1767943509px;
  transform: translate(0, 0);
  animation: flash 2.5394729187s ease -0.1195738294s infinite;
}

.star14 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 7.8950988454%;
  left: 340.8589506607px;
  transform: translate(0, 0);
  animation: flash 2.3984172556s ease -0.284197382s infinite;
}/*# sourceMappingURL=homepractise-mooncard.css.map */