* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  flex-direction: column;
}

.scene {
  width: 800px;
  height: 500px;
  border-radius: 15px;
  background: linear-gradient(550deg, #00f0f0, #1A449D);
  box-shadow: 0 5px 5px black;
  position: relative;
  overflow: hidden;
}
.scene .moon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate(0, 0);
  transform: rotate(140deg);
  box-shadow: 10PX 10PX 11PX lightyellow inset, 20px 20px 20px #ffcc33 inset, -5px -10px 50px white;
}
.scene .name {
  font-size: 50px;
  color: lightyellow;
  font-weight: 4rem;
  line-height: bold;
  letter-spacing: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scene .allleavese {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scene .allstar {
  width: 100%;
  height: 50%;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  font-size: 12px;
  color: lightyellow;
  font-weight: 4rem;
  line-height: bold;
  letter-spacing: 5px;
}

@keyframes flying {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    transform: translate(150px, 0);
  }
  100% {
    transform: translate(0, 400px);
  }
}
@keyframes flash {
  0%, 40% {
    opacity: 40;
  }
}
.leaves1 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(88);
  position: absolute;
  top: 13.5363567564%;
  left: 328.2136263006px;
  transform: translate(0, 0);
  animation: flying 6.1872025581s ease-in-out -0.8047826428S infinite;
}

.leaves2 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(269);
  position: absolute;
  top: 4.0227536508%;
  left: 16.5501364544px;
  transform: translate(0, 0);
  animation: flying 6.7827638831s ease-in-out -0.269538364S infinite;
}

.leaves3 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(174);
  position: absolute;
  top: 3.4536605964%;
  left: 134.4521185792px;
  transform: translate(0, 0);
  animation: flying 5.4038990462s ease-in-out -0.9544864486S infinite;
}

.leaves4 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(248);
  position: absolute;
  top: 18.2426712303%;
  left: 147.3485379907px;
  transform: translate(0, 0);
  animation: flying 6.2689884152s ease-in-out -0.1367568736S infinite;
}

.leaves5 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(215);
  position: absolute;
  top: 20.8909049108%;
  left: 573.5366534113px;
  transform: translate(0, 0);
  animation: flying 5.636385163s ease-in-out -0.542636122S infinite;
}

.leaves6 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(108);
  position: absolute;
  top: 2.8836294266%;
  left: 688.4781477823px;
  transform: translate(0, 0);
  animation: flying 5.0105006363s ease-in-out -0.6271162233S infinite;
}

.leaves7 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(4);
  position: absolute;
  top: 10.1352633221%;
  left: 494.5200722666px;
  transform: translate(0, 0);
  animation: flying 6.7617193962s ease-in-out -0.3449173187S infinite;
}

.leaves8 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(32);
  position: absolute;
  top: 28.5350837077%;
  left: 364.4400229561px;
  transform: translate(0, 0);
  animation: flying 5.4100712534s ease-in-out -0.4498203396S infinite;
}

.leaves9 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(91);
  position: absolute;
  top: 13.1037964591%;
  left: 219.4944755959px;
  transform: translate(0, 0);
  animation: flying 4.0796530905s ease-in-out -0.8928346207S infinite;
}

.leaves10 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(171);
  position: absolute;
  top: 9.9237437765%;
  left: 11.9636319887px;
  transform: translate(0, 0);
  animation: flying 4.7676568352s ease-in-out -0.6016827637S infinite;
}

.leaves11 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(131);
  position: absolute;
  top: 15.6961610799%;
  left: 57.005021242px;
  transform: translate(0, 0);
  animation: flying 6.2092369207s ease-in-out -0.8429326385S infinite;
}

.leaves12 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(263);
  position: absolute;
  top: 29.4302288303%;
  left: 277.8583989938px;
  transform: translate(0, 0);
  animation: flying 6.5537260093s ease-in-out -0.0709822863S infinite;
}

.leaves13 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(62);
  position: absolute;
  top: 15.5198157093%;
  left: 471.5693617884px;
  transform: translate(0, 0);
  animation: flying 6.735938305s ease-in-out -0.2094960558S infinite;
}

.leaves14 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(263);
  position: absolute;
  top: 21.1330205954%;
  left: 425.0959291835px;
  transform: translate(0, 0);
  animation: flying 6.2594517422s ease-in-out -0.7263762882S infinite;
}

.leaves15 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(262);
  position: absolute;
  top: 10.9579867149%;
  left: 75.1302341161px;
  transform: translate(0, 0);
  animation: flying 5.4904875384s ease-in-out -0.0689709739S infinite;
}

.leaves16 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(242);
  position: absolute;
  top: 21.4407011945%;
  left: 242.7488526286px;
  transform: translate(0, 0);
  animation: flying 5.6314952751s ease-in-out -0.0414478537S infinite;
}

.leaves17 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(243);
  position: absolute;
  top: 18.3736170436%;
  left: 313.5583125161px;
  transform: translate(0, 0);
  animation: flying 4.133556826s ease-in-out -0.1423904054S infinite;
}

.leaves18 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(132);
  position: absolute;
  top: 19.9008517719%;
  left: 586.8658432315px;
  transform: translate(0, 0);
  animation: flying 4.3521229197s ease-in-out -0.0485461548S infinite;
}

.leaves19 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(250);
  position: absolute;
  top: 3.6710597691%;
  left: 692.1914542715px;
  transform: translate(0, 0);
  animation: flying 4.9520996491s ease-in-out -0.4577977627S infinite;
}

.leaves20 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(289);
  position: absolute;
  top: 12.8417290034%;
  left: 297.4065559692px;
  transform: translate(0, 0);
  animation: flying 5.9997372368s ease-in-out -0.2983106048S infinite;
}

.leaves21 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(222);
  position: absolute;
  top: 5.3072291578%;
  left: 732.3070028658px;
  transform: translate(0, 0);
  animation: flying 5.8635681906s ease-in-out -0.0207374618S infinite;
}

.leaves22 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(93);
  position: absolute;
  top: 26.835047097%;
  left: 1.8172901671px;
  transform: translate(0, 0);
  animation: flying 5.2349171225s ease-in-out -0.6025558653S infinite;
}

.leaves23 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(66);
  position: absolute;
  top: 27.0029731273%;
  left: 635.0887399007px;
  transform: translate(0, 0);
  animation: flying 6.9196395266s ease-in-out -0.6373522958S infinite;
}

.leaves24 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(246);
  position: absolute;
  top: 23.4807837404%;
  left: 93.627645341px;
  transform: translate(0, 0);
  animation: flying 4.1894883292s ease-in-out -0.7899477221S infinite;
}

.leaves25 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(260);
  position: absolute;
  top: 18.3892970236%;
  left: 387.5837554997px;
  transform: translate(0, 0);
  animation: flying 5.8438518612s ease-in-out -0.0308587433S infinite;
}

.leaves26 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(254);
  position: absolute;
  top: 27.8744730939%;
  left: 393.653228906px;
  transform: translate(0, 0);
  animation: flying 5.1454323329s ease-in-out -0.5437962522S infinite;
}

.leaves27 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(211);
  position: absolute;
  top: 5.982586904%;
  left: 329.0203011645px;
  transform: translate(0, 0);
  animation: flying 6.3059922287s ease-in-out -0.3835277332S infinite;
}

.leaves28 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(148);
  position: absolute;
  top: 4.256017066%;
  left: 577.02451126px;
  transform: translate(0, 0);
  animation: flying 5.109526728s ease-in-out -0.9106868576S infinite;
}

.leaves29 {
  background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  transform: rotate(246);
  position: absolute;
  top: 16.6897440285%;
  left: 260.3930520386px;
  transform: translate(0, 0);
  animation: flying 6.8737978302s ease-in-out -0.3830846271S infinite;
}

.star1 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 37.1522274379%;
  left: 784.545649321px;
  transform: translate(0, 0);
  animation: flash 3.2783498132s ease -0.0455143753s infinite;
}

.star2 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 24.4804358634%;
  left: 565.7912923039px;
  transform: translate(0, 0);
  animation: flash 2.8993859955s ease -0.4209517944s infinite;
}

.star3 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 31.9698947916%;
  left: 774.0386004945px;
  transform: translate(0, 0);
  animation: flash 2.9841157308s ease -0.0922826853s infinite;
}

.star4 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 41.8619498134%;
  left: 312.2299243767px;
  transform: translate(0, 0);
  animation: flash 3.4014855952s ease -0.3144696181s infinite;
}

.star5 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 21.523385269%;
  left: 291.5632191552px;
  transform: translate(0, 0);
  animation: flash 4.9548841035s ease -0.3896987082s infinite;
}

.star6 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 41.2474313611%;
  left: 136.2081513175px;
  transform: translate(0, 0);
  animation: flash 3.3135247948s ease -0.349112863s infinite;
}

.star7 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0.4725091062%;
  left: 64.607583426px;
  transform: translate(0, 0);
  animation: flash 4.7123606005s ease -0.033891969s infinite;
}

.star8 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 29.5865822067%;
  left: 449.4277437441px;
  transform: translate(0, 0);
  animation: flash 2.3765310839s ease -0.3515545791s infinite;
}

.star9 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 21.7170309061%;
  left: 500.0016133154px;
  transform: translate(0, 0);
  animation: flash 2.3399352387s ease -0.3524867914s infinite;
}

.star10 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 44.2026783605%;
  left: 450.8492864004px;
  transform: translate(0, 0);
  animation: flash 3.3585217027s ease -0.3823558764s infinite;
}

.star11 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 42.3946418204%;
  left: 728.7010930805px;
  transform: translate(0, 0);
  animation: flash 4.7744673s ease -0.2497933791s infinite;
}

.star12 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 6.1940698487%;
  left: 391.0686426846px;
  transform: translate(0, 0);
  animation: flash 4.3273265269s ease -0.0782341109s infinite;
}

.star13 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 24.3709171162%;
  left: 333.0031208303px;
  transform: translate(0, 0);
  animation: flash 2.8150765874s ease -0.1190022873s infinite;
}

.star14 {
  background-image: url(../img/star.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 49.9255618926%;
  left: 722.6942960252px;
  transform: translate(0, 0);
  animation: flash 3.0554600695s ease -0.1214096256s infinite;
}

@media (max-width: 1024px) {
  .scene {
    width: 600px;
  }
  .scene .name {
    font-size: 30px;
    color: lightyellow;
    font-weight: 4rem;
    line-height: bold;
    letter-spacing: 3px;
  }
  footer {
    font-size: 9px;
    color: lightyellow;
    font-weight: 4rem;
    line-height: bold;
    letter-spacing: 3px;
  }
}
@media (max-width: 760px) {
  .scene {
    width: 300px;
    height: 200px;
  }
  .scene .name {
    font-size: 18px;
    color: lightyellow;
    font-weight: 4rem;
    line-height: bold;
    letter-spacing: 1px;
  }
  footer {
    width: 300px;
    font-size: 9px;
    color: lightyellow;
    font-weight: 4rem;
    line-height: bold;
    letter-spacing: 0px;
  }
}/*# sourceMappingURL=homepractise-mooncard.css.map */