// 製作場景漸層
$color_blue_light: #00f0f0;
$color_blue_balack: #1A449D;
// 設置角度
$scene_blue_gradient: linear-gradient(550deg, $color_blue_light, $color_blue_balack);

// 定義divz card呈現的特性模板
// 色彩三元素rgba
@mixin size($w, $h, $bdrs: 0, $bg: rgba(0, 0, 0, 0)) {
    width: $w;
    height: $h;
    border-radius: $bdrs;
    background: $bg;
}

// 設定display模板
@mixin flex($j, $a) {
    display: flex;
    justify-content: $j;
    align-items: $a;
}

// position:absolute 模板
@mixin posa($t: 0, $l: 0, $tX: 0, $tY: 0) {
    position: absolute;
    top: $t;
    left: $l;
    transform: translate($tX, $tY);
}

// inherit繼承 
@mixin font($fz: 0, $c, $fw: inherit, $lh: inherit, $ls: inherit, ) {
    font-size: $fz;
    color: $c;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin bgimg ($bgp: center, $bgr: no-repeat, $bgz: cover) { 
    background-position: $bgp;
    background-repeat: $bgr;
    background-size: $bgz;
}

* {
    box-sizing: border-box;
}

html,
body {
    @include size(100%, 100vh, 0);
    @include flex(center, center);
    background-color: #222;
    flex-direction: column;
}

.scene {
    @include size(800px, 500px, 15px, $scene_blue_gradient);
    box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 1.0);
    // lapha是透明度
    position: relative;
    // 場景之外的東西全部隱藏
    overflow: hidden;
    .moon {
        @include size(80px, 80px, 50%);
        // box-shadow: inset 0px 16px #ffcc33, inset 0px 16px 1px #ffcc33;
        // box-shadow: inset 0px -16px #ffcc33, inset 0px -16px 1px #ffcc33;
        @include posa(20%, 10%);
        // 旋轉 deg度數
        transform: rotate(140deg);
        box-shadow: 10PX 10PX 11PX lightyellow inset, 20px 20px 20px #ffcc33 inset, -5px -10px 50px white ;
    }
    .name {
        @include font(50px, lightyellow, 4rem, bold, 5px);
        @include posa(50%, 50%, -50%, -50%);
    }
    
    .allleavese {
        // 在這長卡片上的出現範圍
        @include size(100%, 100%);
        // 相對定位
        @include posa(50%, 50%, -50%, -50%);
    }
    
    .allstar {
        @include size(100%, 50%);
        @include posa(40%, 50%, -50%, -50%);
    }
}


footer{
    @include font(12px, lightyellow, 4rem, bold, 5px);
}




// 動畫
@keyframes flying {

    // 設置從哪到哪的位置
    // 開始0%與結束100%的位置
    0%,
    100% {
        // 隱藏
        opacity: 0;
    }

    // 跑到60%時開始慢慢出現
    60% {
        opacity: 1;
    }

    // 處理下降位置
    0% {
        transform: translate(150px, 0);
    }

    100% {
        transform: translate(0, 400px);
    }
}
@keyframes flash {
    0%,40%{
        opacity: random(100%);
    }
}

@for $i from 1 to 30 {

    // 差值法
    .leaves#{$i} {
        // random()隨機產生 0-1之間的亂數
        // random(255) 隨機產生1-255之間的亂數
        // rgb色表最大數為255 
        // 處理亂數位置
        background-image: url(../img/63d0f703918fa0ec92f6de05209759ee3d6ddb81.png.crdownload);
        @include bgimg;
        width: 50px;
        height: 50px;
        transform: rotate(random(300deg));
        @include posa(random()*30%, random()*800px);
        // 播放流星動畫
        // animation-name: flying;
        // 數學運算
        // animation-duration: (random()*3s)+2;
        // 重複播放次數
        // animation-iteration-count: infinite;
        // -1s 提前播放
        // animation-delay: random()*-1s;
        animation: flying (random()*3s)+4s ease-in-out random()*-1S infinite ;
        // cubic-bezier(.89,-1.3,.2,1.3)
    }
}
@for $i from 1 to 15 {
    .star#{$i} {
        background-image: url(../img/star.png);
        @include bgimg;
        width: 15px;
        height: 15px;
        @include posa(random()*50%, random()*800px);
        animation: flash random()*3s+2s ease random()*-0.5s infinite ;
        
    }
}

@media (max-width: 1024px) {
    .scene{
        width: 600px;
        .name {
            @include font(30px, lightyellow, 4rem, bold, 3px);
        }
    }
    footer{
        @include font(9px, lightyellow, 4rem, bold, 3px);
    }
}

@media (max-width: 760px) {
    .scene{
        width: 300px;
        height: 200px;
        .name {
            @include font(18px, lightyellow, 4rem, bold, 1px);
        }
    }
    footer{
        width: 300px;
        @include font(9px, lightyellow, 4rem, bold, 0px);
    }
}